{{! @template local_sidenotes/tag_manager
    @copyright 2026 Andreas Giesen
    @license https://www.gnu.org/copyleft/gpl.html GNU GPL v3 or later
}}
<div class="local-sidenotes-tagmanager">
    {{> local_sidenotes/navigation }}
    <div class="mb-4">
        <p class="text-muted mt-3">{{#str}} tags:managerhint, local_sidenotes {{/str}}</p>
    </div>
    <div class="small mb-3" role="status" aria-live="polite" data-region="tag-manager-status"></div>
    <div data-region="tag-manager-list">{{> local_sidenotes/tag_manager_list }}</div>
</div>
{{#js}}require(['local_sidenotes/tag_manager'], function(manager) {manager.init();});{{/js}}
